<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>查看所有题</title>
    <link rel="stylesheet" type="text/css" href="../static/css/custom.css">
    <script type="text/javascript" src="../static/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="../static/js/viewquestionall.js"></script>
</head>
<body>
<script type="text/javascript">
    loadXMLDoc()
</script>

<!--<hr>-->

<!--<div>-->
<!--    <a>第一题</a>-->
<!--    <br>-->
<!--    <textarea>-->
<!--        sdfasdfasdfasdf-->
<!--    </textarea>-->
<!--    <br>-->
<!--    <form>-->
<!--        <p><input type="checkbox">asdfasdfsd</p>-->
<!--        <p><input type="checkbox">asdfasdfsd</p>-->
<!--        <p><input type="checkbox">asdfasdfsd</p>-->
<!--        <p><input type="checkbox">asdfasdfsd</p>-->
<!--    </form>-->
<!--    <form>-->
<!--        <input type="text">-->
<!--        <input type="submit" value="提交">-->

<!--    </form>-->
<!--</div>-->

</body>
</html>